mat-grid-tile{
    border: 1px lightblue;

}
.btn-remove-file{
    position: absolute ;
    cursor: pointer;
    top: -10px;
    right: -10px;
    background-color:red;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    height: auto;

}
.dropZone{
    height: 150px;
    min-width: 200px;
    display: table;
    background-color: #eee;
    border: dashed 1px #aaa;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
.text{
    
  display: table-cell;
  vertical-align: middle;

}
