<div class="container mt-5 text-center">
    <div class="card ">
        <div class="row">

            <div class="col-6">
                <form #myForm="ngForm" (ngSubmit)="addNewProduct(myForm)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Name</mat-label>
                        <input matInput placeholder="Product Name" [(ngModel)]="product.productName" name="productName">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Description</mat-label>
                        <input matInput [(ngModel)]="product.productDescription" placeholder="product description"
                            name="productDescription">
                    </mat-form-field>
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Product Actual Price</mat-label>
                        <input matInput type="number" class="example-right-align"
                            [(ngModel)]="product.productActualPrice" placeholder="product Actual Price"
                            name="productActualPrice">
                        <span matTextPrefix>TND&nbsp;</span>
                        <span matTextSuffix>.00</span>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Product discount price</mat-label>
                        <input matInput type="number" class="example-right-align" [(ngModel)]="product.productDiscount"
                            placeholder="product discount price" name="productDiscount">
                        <span matTextPrefix>TND&nbsp;</span>
                        <span matTextSuffix>.00</span>
                    </mat-form-field>


                    <button mat-stroked-button color="primary" type="reset" style="margin-right: 3px;"> Clear</button>
                    <button *ngIf="isNewProduct" mat-stroked-button color="primary" type="submit"> Add</button>
                    <button *ngIf="!isNewProduct" mat-stroked-button color="primary" type="submit"> update</button>
                </form>
            </div>

            <div class="col-6">
               <div class="mt-5">
                <div class="dropZone"
                appDrag (files)="fileDropped($event)">
                    <div class="text">
                        Drop ur file or <span style="color: blue; cursor: pointer; " (click)="selectFile.click()">browse</span> a file
                    </div>

                </div>





                <input type="file" name="" id="" multiple value="select" #selectFile
               (change)="onFileSlected($event)" style="display: none;">
               </div>
               <div class="mt-5">
                <div class="row">
                    <mat-grid-list cols="4" rowHeight="1:1">
                        <mat-grid-tile *ngFor="let file of product.productImages; let i=index">
                            <div style="position: relative;">
                                <span class="btn-remove-file" (click)="onRemoveImages(i)">X</span>
                                <img [src]="file.url" alt="images of product" style="width: 100px;height: 100px;"#el>

                            </div>

                        </mat-grid-tile>

                    </mat-grid-list>

                </div>
               </div>
              

               

               
            </div>
        </div>

    </div>
</div>